# Ejercicio 2

**Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los a√±os 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:**

**1. Generar un DataFrame con los datos de los cuatro ficheros.**

In [119]:
import pandas as pd 
import matplotlib 
import datetime as dt
emisiones2016 = pd.read_csv("emisiones-2016.csv", sep=';')
emisiones2017 = pd.read_csv("emisiones-2017.csv", sep=';')
emisiones2018 = pd.read_csv("emisiones-2018.csv", sep=';')
emisiones2019 = pd.read_csv("emisiones-2019.csv", sep=';')
Datos = pd.concat([emisiones2016,emisiones2017,emisiones2018,emisiones2019])
Datos

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

**2. Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, A√ëO, MES y las correspondientes a los d√≠as D01, D02, etc.**

In [120]:
Columnas = ['ESTACION','MAGNITUD','ANO','MES'] # mostrar las 4 columnas

#startswith: El m√©todo devuelve True si la cadena comienza con el valor especificado; de lo contrario, False.
Columnas.extend([columns  for columns in Datos if columns.startswith('D')])
Datos = Datos[Columnas]
Datos

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

**3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los d√≠as aparezcan en una √∫nica columna.**

In [121]:
#melt:  desenvuelve un DataFrame de formato ancho a formato
Datos = Datos.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
Datos

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

**4. A√±adir una columna con la fecha a partir de la concatenaci√≥n del a√±o, el mes y el d√≠a (usar el m√≥dulo datetime).**

In [122]:
# paso 1 eliminar el caracter D del comiendo de la columna de los dias
Datos['DIA'] = Datos.DIA.str.strip('D')

# paso 2: Concatenamos las columnas del a√±o, mes y dia
Datos['FECHA'] = Datos.ANO.apply(str) + '/' + Datos.MES.apply(str) + '/' + Datos.DIA.apply(str)

#paso 3: convertir la nueva columna al tipo de fecha
Datos['FECHA'] = pd.to_datetime(Datos.FECHA, format='%Y/%m/%d', infer_datetime_format=True, errors='coerce')
Datos

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
1              4         1  2016    2  01   12.0 2016-02-01
2              4         1  2016    3  01   11.0 2016-03-01
3              4         1  2016    4  01    8.0 2016-04-01
4              4         1  2016    5  01    7.0 2016-05-01
...          ...       ...   ...  ...  ..    ...        ...
225241        60        14  2019    8  31   98.0 2019-08-31
225242        60        14  2019    9  31    0.0        NaT
225243        60        14  2019   10  31   47.0 2019-10-31
225244        60        14  2019   11  31    0.0        NaT
225245        60        14  2019   12  31    4.0 2019-12-31

[225246 rows x 7 columns]

**5. Eliminar las filas con fechas no v√°lidas (utilizar la funci√≥n isnat del m√≥dulo numpy) y ordenar el DataFrame por estaciones, contaminantes y fecha.**

In [123]:
# Eliminamos las filas con fechas no validas
# drop para eliminar las filas no validas
Datos = Datos.drop(Datos[np.isnat(Datos.FECHA)].index)

# Ordenamos a datos por las 4 columnas
Datos.sort_values(['ESTACION','MAGNITUD','FECHA'])

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
7266           4         1  2016    1  02    7.0 2016-01-02
14532          4         1  2016    1  03    6.0 2016-01-03
21798          4         1  2016    1  04    6.0 2016-01-04
29064          4         1  2016    1  05    7.0 2016-01-05
...          ...       ...   ...  ...  ..    ...        ...
196181        60        14  2019   12  27   17.0 2019-12-27
203447        60        14  2019   12  28   13.0 2019-12-28
210713        60        14  2019   12  29   14.0 2019-12-29
217979        60        14  2019   12  30    5.0 2019-12-30
225245        60        14  2019   12  31    4.0 2019-12-31

[221158 rows x 7 columns]

**6. Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.**

In [124]:
# muestra las estaciones disponibles
print(['ESTACION'],Datos.ESTACION.unique())
# muestra los contaminantes disponibles
print(['CONTAMINANTES'],Datos.ESTACION.unique())

['ESTACION'] [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]
['CONTAMINANTES'] [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]

**7. Crear una funci√≥n que reciba una estaci√≥n, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estaci√≥n y rango de fechas dado.**

In [125]:
def EVOLUCION(estacion, contaminante, desde, hasta):
    return Datos[(Datos.ESTACION == estacion) & (Datos.MAGNITUD == contaminante) & (Datos.FECHA >= desde) & (Datos.FECHA <= hasta)].sort_values('FECHA').VALOR
EVOLUCION(56, 8,dt.datetime.strptime('2018/10/25', '%Y/%m/%d'), dt.datetime.strptime('2019/02/12', '%Y/%m/%d'))

179559    89.0
186825    87.0
194091    46.0
201357    38.0
208623    29.0
          ...
57841     82.0
65107     64.0
72373     26.0
79639     59.0
86905     71.0
Name: VALOR, Length: 111, dtype: float64

**8. Mostrar un resumen descriptivo (m√≠mino, m√°ximo, media, etc) para cada contaminante.**

In [126]:
Datos.groupby('MAGNITUD').VALOR.describe()

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

**9. Mostrar un resumen descriptivo para cada contaminente por distritos.**

In [127]:
Datos.groupby(['ESTACION', 'MAGNITUD']).VALOR.describe()

                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]

**10. Crear una funci√≥n que reciba una estaci√≥n y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estadi√≥n indicada.**

In [128]:
# creamos la funcion que devuelve el resumen de emisiones y contaminante de una estacion
def RESUMEN (estacion, contaminante):
    return Datos[(Datos.ESTACION == estacion)&(Datos.MAGNITUD == contaminante)].VALOR.describe()

print('El resumen de dioxido de nitrogeno en plaza eliptica es: ', RESUMEN(56, 8),'\n', sep='' )

print('El resumen de dioxido de nitrogeno en plaza del carmen es: ', RESUMEN(35, 8),'\n', sep='' )

El resumen de dioxido de nitrogeno en plaza eliptica es: count    1461.000000
mean       55.113621
std        21.911483
min         0.000000
25%        39.000000
50%        53.000000
75%        69.000000
max       142.000000
Name: VALOR, dtype: float64

El resumen de dioxido de nitrogeno en plaza del carmen es: count    1461.000000
mean       43.260096
std        16.384656
min         0.000000
25%        32.000000
50%        43.000000
75%        54.000000
max        96.000000
Name: VALOR, dtype: float64

**11. Crear una funci√≥n que devuelva las emisiones medias mensuales de un contaminante y un a√±o dados para todos las estaciones.**

In [129]:
#creamos la funcion que devuelve emosiones media mensuales de un contaminante y un mes y a√±o de todas las estaciones
def EVO_MENSUAL(contaminante, a√±o):
    return Datos[(Datos.MAGNITUD == contaminante) & (Datos.ANO == a√±o)].groupby(['ESTACION','MES']).VALOR.mean().unstack('MES')

# Dioxido en 2019
EVO_MENSUAL(8, 2019)

MES,1,2,3,4,5,6,7,8,9,10,11,12
ESTACION,,,,,,,,,,,,
4,61.129032,62.000000,44.677419,36.033333,33.451613,36.700000,36.838710,34.064516,35.400000,33.451613,21.800000,40.806452
8,74.516129,77.071429,57.064516,48.466667,43.032258,41.933333,36.387097,24.612903,45.233333,55.000000,42.033333,49.870968
11,58.516129,59.571429,37.709677,32.066667,26.064516,31.733333,33.451613,28.322581,36.966667,48.451613,31.800000,47.612903
16,54.387097,56.892857,35.451613,27.933333,20.354839,24.666667,25.258065,24.548387,31.266667,41.935484,29.500000,40.677419
17,65.967742,70.142857,43.161290,29.400000,22.548387,25.133333,27.161290,29.322581,36.933333,47.774194,30.566667,44.516129
18,55.161290,54.821429,35.645161,24.300000,19.967742,21.033333,22.322581,23.419355,25.833333,41.225806,25.400000,39.193548
24,37.516129,38.464286,21.645161,13.100000,10.806452,12.000000,13.322581,13.903226,20.600000,27.000000,12.166667,26.258065
27,47.580645,48.214286,35.709677,27.566667,22.903226,26.233333,27.032258,31.677419,35.966667,49.000000,30.133333,45.774194
35,54.548387,51.857143,31.903226,21.700000,22.548387,26.033333,35.322581,33.096774,37.533333,45.193548,30.133333,41.483871
36,58.870968,58.678571,37.645161,29.333333,21.354839,24.800000,25.677419,25.935484,31.500000,43.838710,32.300000,43.354839
38,62.193548,59.357143,38.032258,29.333333,25.935484,25.366667,22.096774,21.161290,37.033333,47.064516,29.200000,45.870968
39,63.354839,62.214286,37.483871,25.566667,19.483871,25.200000,25.483871,24.870968,30.466667,47.290323,27.133333,42.774194
40,58.967742,57.357143,36.387097,28.433333,21.967742,24.033333,26.419355,26.548387,34.733333,44.580645,30.966667,41.709677
47,53.548387,52.571429,36.322581,23.600000,21.354839,18.966667,23.903226,26.806452,33.666667,43.645161,26.733333,39.193548
48,55.709677,57.178571,34.677419,26.466667,17.967742,24.633333,24.903226,20.870968,27.333333,43.967742,33.666667,43.000000
49,45.580645,42.035714,25.870968,17.366667,14.354839,13.900000,16.129032,16.322581,19.433333,31.838710,22.200000,33.935484
50,57.741935,56.214286,36.741935,32.466667,24.000000,30.233333,28.967742,26.258065,32.233333,44.709677,31.766667,41.709677
54,60.774194,59.321429,38.354839,27.900000,24.645161,22.066667,23.806452,26.225806,34.266667,46.967742,32.900000,45.967742
55,63.548387,61.750000,44.161290,31.233333,25.419355,26.633333,26.064516,28.225806,32.833333,45.000000,27.833333,44.064516
56,77.483871,82.428571,61.064516,46.900000,44.032258,41.100000,45.838710,44.580645,52.100000,57.225806,35.133333,51.903226
57,53.967742,52.321429,31.290323,25.000000,17.354839,20.766667,21.903226,21.677419,25.900000,37.806452,26.000000,38.193548
58,24.774194,24.071429,15.483871,11.166667,9.483871,12.266667,12.322581,12.935484,15.433333,21.645161,11.900000,18.935484
59,39.064516,40.964286,25.322581,19.666667,13.741935,16.833333,14.225806,14.774194,22.866667,35.290323,23.400000,32.387097
60,42.032258,44.750000,25.129032,21.033333,14.580645,18.233333,22.000000,16.096774,19.466667,20.806452,15.733333,42.870968

**12. Crear un funci√≥n que reciba una estaci√≥n de medici√≥n y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.**

In [130]:
def MEDIC_MENSUAL(estacion,a√±o):
    return Datos[(Datos.ESTACION == estacion) & (Datos.ANO == a√±o)].groupby(['MAGNITUD','MES']).VALOR.mean().unstack('MES')
MEDIC_MENSUAL(11,2018)

MES,1,2,3,4,5,6,7,8,9,10,11,12
MAGNITUD,,,,,,,,,,,,
7,34.354839,23.178571,13.064516,9.100000,9.580645,9.100000,8.096774,7.419355,14.033333,24.193548,23.633333,53.903226
8,53.483871,50.178571,35.516129,34.733333,36.161290,33.500000,34.967742,34.225806,47.266667,46.354839,45.700000,61.709677
12,106.290323,85.750000,55.548387,48.666667,51.032258,47.433333,47.419355,45.580645,68.733333,83.419355,81.800000,144.354839
20,1.758065,1.232143,0.632258,0.713333,1.225806,1.043333,1.348387,1.280645,3.160000,10.451613,2.103333,3.854839
30,0.616129,0.528571,0.374194,0.290000,0.264516,0.213333,0.225806,0.232258,0.396667,0.522581,0.420000,0.812903
35,0.225806,0.153571,0.125806,0.140000,0.161290,0.170000,0.180645,0.251613,0.343333,1.203226,0.343333,0.635484